body {
    margin: 0;
}

.wrapper {
    width: 100%;
    max-width: 1080px;
    padding: 0 10px;
    margin: 0 auto;
}

header {
    background: #313131;
}

header:after{
    content: "";
    display: block;
    clear:both;
}

h1.logo {
    background-image: url(images/logo.png);
    background-repeat: no-repeat;
    width: 250px;
    height: 45px;
    margin: 10px 10px;
    text-indent: -10000px;
    float: left;
}


header nav{
    float: right;
    
}

header nav h2{
    text-indent: -10000px;
    height: 0;
    margin: 0;
}

header nav li{
    float: left;
    list-style-type: none;
    margin: 10px 20px;
}


header nav li a{
    text-decoration: none;
    color:#ffffff;
    font-size: 14px;
    
}

section ul {
    clear:both;
}

