body {
    margin: 0;
    font-family: sans-serif;
}

.wrapper {
    width: 100%;
    max-width: 980px;
    padding: 0 10px;
    margin: 0 auto;
}

header {
    background: #313131;
    position: fixed;
    width: 100%;
    z-index: 1;
}


header:after{
    content: "";
    display: block;
    clear:both;
}

h1.logo {
    background-image: url(images/logo.png);
    background-repeat: no-repeat;
    width: 250px;
    height: 45px;
    margin: 10px 10px;
    text-indent: -10000px;
    float: left;
}


header nav{
    float: right;
    
}

header nav h2{
    text-indent: -10000px;
    height: 0;
    margin: 0;
}

header nav li{
    float: left;
    list-style-type: none;
    margin: 5px 20px;
}


header nav li a{
    text-decoration: none;
    color:#ffffff;
    font-size: 14px;
    
}

section ul {
    clear:both;
    margin: 0;
    padding-left: 20px;
    padding-top: 0;
}

section li{
    list-style: none;
    padding: 0;
}


#articles{
    margin:0;
    padding:0;
    width: 650px;
}

.title{
    font-size: 20px;
    color: #62a4d6;
    font-weight: bold;
    width: 640px;
    margin: 0;
    padding-top:18px;
    border-top: 1px solid;
    border-color: #dad9d9;
    position: relative;
    top: 5px;
    clear:both;
}

.first-title{
    font-size: 20px;
    color: #62a4d6;
    font-weight: bold;
    width: 640px;
    margin: 0;
    padding-top:80px; 
    
}

.time{
    font-size: 12px;
    color:#bfbfbf;
    padding: 8px 0;
}

.btn{
    font-size: 12px;
    width: 100px;
    padding: 10px 0;
    margin: 0;
    text-decoration: underline;
    font-style: none;
    float: right;
    text-align: right;
}

.btn a{
       color: #62a4d6;
    
}

section li p{
    font-size: 14px;
    width: 650px;
    margin: 0;
    padding-top: 8px ;
    color: #747474;
    line-height: 25px;
    clear: both;
}



section li img{
    border-radius: 5px;
    width: 650px;
    margin: 0;
    
}











footer {
    background: #313131;
    margin-top: 40px;
}

footer h2{
    color: gray;
    width: 100px;
    margin: 0;
    padding: 30px ;
    padding-left: 30px;
    font-size: 14px;
    float: left;

}

footer:after{
    content: "";
    display: block;
    clear:both;
}


footer img{

    padding-top: 20px;
    
}